<!-- This file contains the html code for the search page of the IRF20P4 website.-->

{% extends 'base.html' %}
{% block content %}
<h1>Search</h1>

<!-- Creates a button to take you to the analytics page of the IRF20P4 website.-->
<p>Clicking the "Analytics" button will take you to the analytics page.</p>
<form action="http://127.0.0.1:8000/analytics">
    <input type="submit" value="Analytics" />
</form>

<!-- Creates a textfield where user can enter a query to search.-->
<form action = "" method = "POST">
	{% csrf_token %}
	<label for="user_search"></label> 
	<input id="user_search" type="text" name="user_search">
	<input type="submit" value="Search"> 
</form>

<p>We want a refine by column on the left</p>
{% endblock %}